{{#each ics}}
{{#category this.name 'vanilla'}}
<p>{{this.name}}</p>
<p>{{this.price}}</p>

{{/category}}
{{/each}}

{{#each ics}}
{{#category this.name 'pistachio'}}
<p>{{this.name}}</p>
<p>{{this.price}}</p>

{{/category}}
{{/each}}